table {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;

  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media #{$medium-up} {
    & {
      display: table;
    }
  }

  th, td {
    padding: 0.5rem 1.1rem;
    text-align: left;
    border: none;
  }

  th:last-of-type, td:last-of-type {
    text-align: right;
  }

  tr:nth-of-type(even) {
    background: lighten($color-grey, 20%);
  }

  thead {
    background: $color-primary;

    @media #{$medium-up} {
      & {
        font-family: $raleway;
        font-weight: 900;
      }
    }
  }
}
