$layout-max-width:        60em;
$layout-xlarge-max-width: 100rem;
$column-number:           4;
$base-font-family:        'Merriweather',$base-font-name;
$title-font-family:       'Raleway',$title-font-name;
$merriweather:            'Merriweather', $base-font-name;
$opensans:                'Open Sans', $base-font-name;
$raleway:                 'Raleway', $base-font-name;
$color-primary:           #3587ab;
$color-primary-light:     #f5f5f5;
$color-primary-dark:      #0b0102;
$color-secondary:         #002f58;
$color-secondary-light:   #4f7ba2;
$color-secondary-dark:    color(gray, 9);
$color-grey:              #7d7d7d;
$color-grey-medium:       #bebbbc;
$color-grey-light:        #c9c9c9;
$color-cat-danse:         #00a9ed;
$color-cat-jeunesse:      #ee63a0;
$color-cat-cirque:        #ce2b2c;
$color-cat-theatre:       #eb6f2d;
$color-cat-concert:       #cd098c;
$color-cat-humour:        #82bf37;
$color-cat-opera:         #0067b3;
$color-btn-modal:         #8ec541;
$color-btn-modal-2:       #00a9ed;
$a11y-text-shadow:        1px 0 0 $color-primary-dark,-1px 0 0 $color-primary-dark,0 1px 0 $color-primary-dark,0 -1px 0 $color-primary-dark;
$boxshadow:               0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
